{% for decorator in decorators -%}
{{ decorator }}
{% endfor -%}
class {{ class_name }}(Enum):
{%- for field in fields %}
    {{ field.name | escape_if_starts_with_number }} = {{ field.default }}
{%- endfor -%}
